a {
  text-decoration: none;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
  }

#Logo {
  text-align: center;
  margin: 0;
}



header {
  background: #ff6600;
  border-color: #3399ff;
}

h1, h2 {
  color: #fff;
}

nav {
  background: #ff9900;


}

nav a {
  color: #fff;
}



nav a.selected, nav a:hover {
  color: #32673f;
}


body {
  background-color: #fff;
  color: #999
}

.input{
  margin-right: auto;
  margin-left: auto;
}

ul{
  margin-right: auto;
  margin-left: auto;
}
